@charset "utf-8";

body{
    font-family: 'M PLUS 1p', sans-serif;
    background-color:#fff8dc;
    font-size:20px;
    font-weight:bolder;
    margin:0;
}

img {
max-width: 100%;
height: auto;
}

/* 共通 */
.red{
    color:#ee0d00;
}

.white{
    color:#ffffff
}

.green{
    color:#006837
}

.yellow{
    color:#ffff00;
}

.none{
    display:none;
    }

.font-size--36{
    font-size:36px;
}

.display-none{
    display:none;
}

h3{
    font-size:28px;
}

p{
    font-size:22px;
}

.space-shrink{
    letter-spacing:-0.1em;
}

ul{
    margin:0;
    list-style:none;
    padding:0;
}


.margin-top100{
    margin-top:100px;
}

.flex{
    display:flex;
}

.inline-block{
    display:inline-block;
}



/* ヘッダー */
.pc{
    display:none;
}

.header a{
    text-decoration:none;
    white-space:nowrap;
    }
    
    .header{
        width:100%;
    }
    
    .header--logo{
        width:30vw; 
        border-style:none;
        margin:0 0 -0.5vw 8vw; 
    }
    
    .header--tomataro{
        width:25vw;
        margin:0 0 -2vw 3vw;
    } 
    
    .header--cart{
        display:inline-block;
        background-color:white;
        width: 18vw;
        height:17vw;
        margin:2vh 0 0 5vw;
        position:relative;
        border:1px solid black;
    }
    .header--cart img{
        display:inline-block;
        position:absolute;
        width:70vw;
        top:1.2vh;
        right:-3.42%; 
    }
    
    .header--cart--p{
        display:inline-block;
        position:absolute;
        margin:0;
        right:5vw;
        top:0.5vh;
        font-size:calc(80% + 3 * (100vw - 300px) /100);
    }
    
    /* ナビ */
    .nav--wrap a{
        text-decoration:none;
    }
    
    .nav--wrap{
        margin:0;
        width:100%;
        height:2.32%;
    }
    
    .nav--wrap ul{
        margin:0 auto;
        padding:0;
        display:flex;
        justify-content:stretch;
        list-style:none;
    }
    
    .nav--red{
        margin:0;
        border:2px solid #000000;
        border-right:0px;
        width:25%;
        text-align:center;
        background-color:#ee0d00;
        flex-grow:1;
        font-size:calc(115% + 4 * (100vw - 600px) /100);
    }
    .nav--red img{
        width:50%;
        margin:5% 0 0 0;
    }
    
    .nav--green{
        border:2px solid #000000;
        border-right:0px;
        width:25%;
        text-align:center;
        background-color:#006837;
        flex-grow:1;
        font-size:calc(115% + 4 * (100vw - 600px) /100); 
        /* 115%初期の文字サイズ /100小さくなるとだんだんでかい*/
    }
    
    .nav--green img{
        width:43%;
        margin:5% 0 0 0;
        }
    .nav--blue{
        border:2px solid #000000;
        border-right:0px;
        width:25%;
        text-align:center;
        background-color:#2f7fb8;
        flex-grow:1;
        font-size:calc(115% + 4 * (100vw - 600px) /100);
    }
    .nav--blue img{
        width:60%;
        margin:5% 0 0 0;
    }
    .nav--yellow{
        border:2px solid #000000;
        width:25%;
        text-align:center;
        background-color:#ffff00;
        color:#000000;
        flex-grow:1;
        font-size:calc(115% + 4 * (100vw - 600px) /100);
    }

    /* ハンバーガーメニュー */
    .ham{
        width:24vw;
        height:19vw;
        position:fixed;
        left:75vw;
        z-index:100;
        border:1px solid black;
        background-color:rgba(225,225,0,0.5);
        transition:0.5s all;
    }
    .translate{
        transform:scale(0.5,0.5) translate(4vw,-46vw);
    }
    .ham li{
        margin:0 0 0 3vw;
    }
    .ham--menu--font{
        font-size:calc(115% + 4 * (100vw - 600px) /100);
    }
    .ham--wrap{
        width:22vw;
        margin-top:0%;
        
    }
    .ham--line-top{
        position:absolute;
        top:9vw;
        left:5vw;
        width:12vw;
        height:0.4vw;
        background-color:#000000;
        margin:0 0 0 0;
        transition:0.3s all;
    }
    .ham--line-middle{
        position:absolute;
        top:11vw;
        left:5vw;
        width:12vw;
        height:0.4vw;
        background-color:#000000;
        padding:0;
        margin:0 0 0vw 0;
        transition:0.5s all;
    }
    
    .ham--line-bottom{
        position:absolute;
        top:13vw;
        left:5vw;
        width:12vw;
        height:0.4vw;
        background-color:#000000;
        margin:0 0 0 0;
        transition:0.3s all;
    }
    .clicked .ham--line-top{
        transform:rotate(45deg);
        top:11vw;
    }
    .clicked .ham--line-middle{
        transform:translate(7vw,0);
        opacity:0;
    }
    .clicked .ham--line-bottom{
        transform:rotate(-45deg);
        top:11vw;
    }
    .clicked .ham--menu{
        right:0vw;
    }
    .ham--menu{
        position:fixed;
        right:-100vw;
        width:100vw;
        height:60vh;
        background-color:rgba(112,112,112,0.5);
        z-index:100;
        transition:0.5s all;
    }
    .ham--menu li{
        width:49vw;
        height:10vh;
        font-size:calc(80% + 2 * (100vw - 300px) / 100);
        border:1px solid #707070;
    }
    .ham--menu a:nth-of-type(n+1){
        background-color:#ee0d00;
    }
    .ham--menu a:nth-of-type(n+3){
        background-color:#006837;
    }
    .ham--menu a:nth-of-type(n+5){
        background-color:#0f73bb;
    }
    .ham--menu a:nth-of-type(n+7){
        background-color:#ffff00;
        color:#000000;
    }
    .ham--menu a:nth-of-type(n+9){
        background-color:#ffffff;
        color:#000000;
    }
    .ham--menu a:nth-of-type(n+1):link, 
    .ham--menu a:nth-of-type(n+1):visited{
        color:#ffffff;
    }
    .ham--menu a:nth-of-type(n+7):link, 
    .ham--menu a:nth-of-type(n+7):visited{
        color:#000000;
    }
    
    .ham--menu--flex a:hover{
        color:#ee0d00;
    }
    .ham--menu--flex{
        display:flex;
        flex-wrap:wrap;
    }
@media screen and (min-width:310px){
        .ham--line{
            margin:2vh 0 0 5vw;
        }
        .ham--line:before{
            top:-2.4vh;
            margin:1vh 0 0 -50%;
        }
        .ham--line:after{
            top:0.4vh;
            margin:1vh 0 0 -50%;
        }
    }
    @media screen and (min-width:400px){
        .ham--line{
            margin:3.6vh 0 0 5vw;
        }
        .ham--line:before{
            top:-3vh;
            margin:1vh 0 0 -50%;
        }
        .ham--line:after{
            top:1vh;
            margin:1vh 0 0 -50%;
        }
    }
    @media screen and (min-width:500px){
        .ham--line{
            margin:4vh 0 0 5vw;
        }
    }
    @media screen and (min-width:600px){
        .ham--line{
            margin:4.4vh 0 0 5vw;
        }
        .ham--line:before{
            top:-3.8vh;
            margin:1vh 0 0 -50%;
        }
        .ham--line:after{
            top:1.8vh;
            margin:1vh 0 0 -50%;
        }
    }
    @media screen and (min-width:700px){
        .ham--line{
            margin:4.8vh 0 0 5vw;
        }
        .ham--line:before{
            top:-4.2vh;
            margin:1vh 0 0 -50%;
        }
        .ham--line:after{
            top:2.2vh;
            margin:1vh 0 0 -50%;
        }
    }
    @media screen and (min-width:1024px){
        .pc{
            display:block;
        }
        .phone{
            display:none;
        }
        .header--nav--flex{
            display:flex;
            align-items:flex-end;
            justify-content:space-between;
        }
        .header--flex{
            display:flex;
            align-items:flex-end;
        }
        .header--logo{
            width:20vw; 
            border-style:none;
            margin:0;
        }
    
        .header--tomataro{
            width:6vw;
            margin:0;
        } 
        .facebook img{
            height:3vw;
            margin-left:-1vw;
        }
        .instagram img{
            width:3vw;
            margin-left:-3vw;
        }

        /* ナビゲーション */
        .nav--flex--pc{
        display:flex;
        justify-content:space-around;
        }
        .nav--font{
            font-size:calc(40% + 1 * (100vw - 300px) /100);
        }
        .nav--font2{
            font-size:calc(35% + 1 * (100vw - 300px) /100);
            margin:0vh 0vw 0 0;
        }
        .nav--font img{
            display:block;
            height:3vw;
            margin:0vh 0vw 0 0.4vw;
            padding:0 0vw 0 0;
            transition:0.6s all;
        }
        .nav--font2 img{
            display:block;
            height:3vw;
            margin:0vh 0vw 0 2vw;
            padding:0 0vw 0 0;
        }
        .nav--font img:hover, .nav--font2 img:hover{
            animation-name:hover-jump;
            animation-duration:1s;
            animation-iteration-count:1;
        }
        @keyframes hover-jump{
            50%{
                transform:translateY(-1vh);
            }
            100%{
                transform:translateY(0vw);
            }
        }

        .nav--flex--pc li{
            margin:0 0 0 2vw;
        }
        .nav--flex--pc li:last-of-type{
            margin:0 2vw 0 -0.4vw;
        }
        .header--pc a{
        text-decoration:none;
        }
        .header--pc a:link, .header--pc a:visited, .header--pc a:active{
            color:#006837;
        }
        .header--pc a:hover{
            color:#ee0d00;
        }
        .nav--img--box{
            display:table;
            width:4.2vw;
            height:3vw;
            margin:1vh 0 0vh 0;
            vertical-align:center;
        }
        .header--cart{
            display:inline-block;
            background-color:white;
            width: 4.5vw;
            height:4.8vw;
            margin:0.2vh 1vw 0 0vw;
            position:relative;
            border:1px solid black;
        }
        .header--cart img{
            display:inline-block;
            position:absolute;
            height:5.5vw;
        }
        
        .header--cart--p{
            display:inline-block;
            position:absolute;
            left:3vw;
            top:1.5vh;
            font-size:calc(20% + 1 * (100vw - 300px) /100);
        }
    }



/* メイン */
.main--image{
    width:100vw;
    position: relative;
}

.main--image img{
    width:100%;
}


.main--image h1{
    position: absolute;
    top:40%;
    left:2.63%;
    letter-spacing:0.08em;
    opacity:0;
    animation-name:textanime;
    animation-duration:6s;
    animation-delay:1s;
    animation-fill-mode:forwards;
}
@keyframes textanime{
    0%{opacity:0}
    100%{opacity:1}
    }
.main--image p{
    position:absolute;
    top:52vw;
    left:70vw;
    font-size: calc(100% + 2 * (100vw - 300px) / 50);
    animation-name:repeat-flash;
    animation-duration:8s;
    animation-iteration-count:infinite;
    color:white;
}
@keyframes repeat-flash{
    50%{opacity:0}
    100%{opacity:1}
}

.main--catchphrase{
    writing-mode:vertical-rl;
    font-size: calc(200% + 4 * (100vw - 600px) / 50); 
    /* 100px増えるごとに12.5pxずつ増える？ */
    white-space:nowrap;
}
.main--catchphrase--margin{
    margin-top:20px;   
}

@media screen and (min-width:1024px){
    .main--image{
        width:100vw;
        position: relative;
    }
    .main--image p{
        top:60vh;}
    .main--image img{
        width:100vw;
        height:90vh;
    }
    .main--image h1{
        position: absolute;
        top:38%;
        left:8%;
        letter-spacing:0.08em;
    }
    
    .main--catchphrase{
        writing-mode:vertical-rl;
        font-size: calc(100% + 4 * (100vw - 300px) / 100); 
        /* 100px増えるごとに12.5pxずつ増える？ */
        white-space:nowrap;
    }
    .main--catchphrase--margin{
        margin-top:20px;   
    }
}
/* 商品紹介 */

.product--wrapper{
    margin:5.26% 2.63% ;
    background-color:#ffffff;
    width:94.73%;
    border:1px solid #006837;
}
.product--wrap{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.product--wrap:nth-of-type(n+2){
    margin:20% 0 0 0;
}

.product--title{
    display:table;
    width:36.84%;
    height:5.9%;
    padding:2% 0;
    border-bottom-right-radius:100px;
    vertical-align:middle;
    text-align:center;
    background-color:#006837;
}

.product--title h2{
    margin:3.15%;
    font-size: calc(180% + 4 * (100vw - 600px) / 60); 
                    /* フォントサイズ×6.25 */
}
.product--image{
    text-align:center;
    position:relative;
}
.product--image img{
    border:1px solid #707070;
    width:47.36vw;
    height:47.36vw;
    border-radius:100%;
    object-fit:cover;
}


.product--box{
    width:72%;
    padding:1% 3%;
    background-color:#006837;
    opacity:0.77;
    margin-left:12%;
    position:absolute;
    top:80.47%;
}

.product--box p{
    margin:0;
    font-size:calc(85% + 3 * (100vw - 300px) / 100); 
}


.product--h3{
    margin-top:9.37%;
    font-size:calc(180% + 4 * (100vw - 600px) / 60); 
    text-align:center;
}

.product--top{
    margin:5.26%;
}


.product--box--strong{
    font-size:calc(150% + 3 * (100vw - 300px) / 100); 
    margin:0 -2%;
    letter-spacing:-0.05em;
    text-shadow:
    1px 0 0 #ffffff,
    0 1px 0 #ffffff,
    -1px 0 0 #ffffff,
    0 -1px 0 #ffffff
}

.product--button-blue{
    display:inline-block;
    width:44.73%;
    height:7.89%;
    padding:2.63% 0;
    margin:23% 0 5.26% 47.36%;
    border-radius:50px;
    background-color:#2f7fb8;
    text-align:center;
    text-decoration:none;
    font-size:calc(70% + 3 * (100vw - 300px) / 100);
    filter: drop-shadow(5px 5px 3px #707070);
}

.product--button-blue:hover{
    color:red;
}

@media screen and (min-width:1024px){
    .product--wrapper{
        margin:5.26% 2.63% ;
        width:94vw;
    }
    .product--flex{
        display:flex;
        align-items:flex-end;
        justify-content:space-between;
    }
    .product--wrap{
        height:10vh;
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        margin:0 2vw 0 1vw;
    }
    .product--wrapper ul{
    margin:0;
    height:15vh;
    }
.product--image{
    text-align:center;
    position:relative;
}
.product--image img{
    border:1px solid #707070;
    width:20vw;
    height:20vw;
    border-radius:100%;
    object-fit:cover;
}
.product--box{
    width:27vw;
    padding:0.5vh 0.5vw;
    background-color:#006837;
    opacity:0.77;
    margin-left:2vw;
    position:absolute;
    top:80.47%;
    margin:5vw 0 0 0;
}
.product--box-Adjustment{
    width:25vw;

}

.product--box p{
    margin:0;
    font-size:calc(40% + 2 * (100vw - 300px) / 100); 
    letter-spacing:-0.05em;
}

.product--top{
    margin:0;
    }
    
.product--h3{
    margin:0vh;
    font-size:calc(35% + 3 * (100vw - 300px) / 100); 
    text-align:center;
}

.product--box--strong{
    font-size:calc(50% + 3 * (100vw - 300px) / 100); 
    margin:0 -2%;
    letter-spacing:-0.05em;
    text-shadow:
    1px 0 0 #ffffff,
    0 1px 0 #ffffff,
    -1px 0 0 #ffffff,
    0 -1px 0 #ffffff
}
.product--button-blue{
    display:inline-block;
    width:24vw;
    height:7.89%;
    padding:1.5vh 0;
    margin:35vw 0 6vw 60vw;
    border-radius:50px;
    background-color:#2f7fb8;
    text-align:center;
    text-decoration:none;
    font-size:calc(60% + 3 * (100vw - 300px) / 100);
}
.product--title{
    display:table;
    width:20vw;
    height:3vh;
    padding:1vh 0;
    border-bottom-right-radius:100px;
    vertical-align:middle;
    text-align:center;
    background-color:#006837;
}

.product--title h2{
    margin:3.15%;
    font-size: calc(30% + 3 * (100vw - 600px) / 60); 
                    /* フォントサイズ×6.25 */
}
}
/* 農家のひみつ */

.secret--wrapper{
    width:100%;
    position:relative;
}

.secret--wrapper img{
    width:67%;
    margin:0 0 0 13.18%;
}
.secret--sparta{
    color:#ffff00;
    font-size:calc(95% + 4 * (100vw - 300px) / 100);
    position:absolute;
    left:40vw;
    top:26.3%;
    text-shadow:
    1px 0 0 #000000,
    0 1px 0 #000000,
    -1px 0 0 #000000,
    0 -1px 0 #000000
}
.secret--audition{
    color:#ffff00;
    font-size:calc(95% + 4 * (100vw - 300px) / 100);
    position:absolute;
    left:33vw;
    top:39%;
    text-shadow:
    1px 0 0 #000000,
    0 1px 0 #000000,
    -1px 0 0 #000000,
    0 -1px 0 #000000
}

.secret--button--font:hover{
    color:red;
}
.secret--button--font{
    display:inline-block;
    font-size:calc(70% + 3 * (100vw - 300px) / 100);
    text-align:center;
    margin:5% 0 0 40%;
    padding:2%;
    width:50%;
    border-radius:20%/50%;
    background-color:#2f7fb8;
    text-decoration:none;
    filter: drop-shadow(6px 6px 4px #707070);
}

.secret--button--font img{
    width:15%;
}
@media screen and (min-width:1024px){
    .secret--wrapper img{
        width:40vw;
        margin:0 0 0 20%;
    }
    .secret--sparta{
        font-size:calc(70% + 4 * (100vw - 300px) / 100);
        left:35vw;
        top:25%;
        text-shadow:
        1px 0 0 #000000,
        0 1px 0 #000000,
        -1px 0 0 #000000,
        0 -1px 0 #000000
    }
    .secret--audition{
        font-size:calc(70% + 4 * (100vw - 300px) / 100);
        left:28vw;
        top:39%;
        text-shadow:
        1px 0 0 #000000,
        0 1px 0 #000000,
        -1px 0 0 #000000,
        0 -1px 0 #000000
    }

    .secret--button--font{
        display:inline-block;
        font-size:calc(50% + 3 * (100vw - 300px) / 100);
        text-align:center;
        margin:-5% 0 0 55%;
        padding:2%;
        width:30vw;
        border-radius:20%/50%;
        background-color:#2f7fb8;
        text-decoration:none;
    }
    .secret--button--font img{
        width:4vw;
    }
}

/* 新着情報 */

.news--wraper{
    margin:5.26%;
    margin-top:7.89%;
    width:86.84%;
    border:1px solid #006837;
    background-color:#ffffff;
}
.news--block{
    background-color:#ee0d00;
    width:100%;;
    margin:0 0 3% 0;
    padding:0;
    font-size:calc(80% + 3 * (100vw - 300px) / 100); 
}

.news--line{
    margin:0 0 0 0;
    border-bottom:3px dashed #006837;
}

.news--individual--wraper img{
    margin:0% 0 0 -5%;
    width:16vw;
    height:6vh;
}

.news--individual--wraper{
    display:flex;
    padding:1em;
}

.news--date--font{
    font-size:calc(50% + 1 * (100vw - 300px) / 100); 
    color:#707070;
}
.news--position{
    margin:0 0 0% 5%;
}

.news--article--content{
    font-size:calc(40% + 1.5 * (100vw - 300px) / 100); 
    margin:0 0 0% 0%;
    color:#707070;
}



/* お問い合わせ */


.inquiry--title{
    width:85%;
    height:8vh;
    margin:0% 0 0% 5%;
    padding:0 0 0.5% 0;
    display:flex;
    justify-content:space-around;
    color:#006837;
    font-size:calc(170% + 3 * (100vw - 300px) / 100);
}
.inquiry--title img{
    width:8vw;
    height:8vh;
}
.inquiry--wrapper{
    padding:0;
    background-color:#ffffff;
    width:90%;
    margin:0 5%;
    border:0.1em solid #006837;
    border-radius:1em;
}


.inquiry--title span:nth-of-type(even){
    align-self:flex-end;  
}
.inquiry--title span:nth-of-type(odd){
    align-self:flex-start; 
}

.inquiry--phone{
    display:flex;
}

.inquiry dt{
    margin:0;
    margin-left:2vw;
}

.inquiry--dd{
    display:inline-block;
    flex-direction:column;
    text-align: left;
    display:flex;
    flex-direction:column;
}
.inquiry img{
    width:10vw;
}


.inquiry--phonenumber{
    display:inline-block;
    color:#006837;
    font-size:calc(100% + 5 * (100vw - 300px) / 100);
    margin:0 0 0 2vw;
}
.inquiry--mail{
    margin:0 0 0 2vw;
    display:inline-block;
    color:#006837;
    font-size:calc(100% + 5 * (100vw - 300px) / 100);
}

.inquiry--phone--p{
    margin:2% 0 0 2%;
    font-size:calc(40% + 1 * (100vw - 300px) / 100);
    color:#006837
}

.inquily--button--blue{
    display:inline-block;
    width:55%;
    padding:8px 0px;
    margin:0% 0 5% 20%;
    border-radius:1.3em;
    background-color:#2f7fb8;
    text-align:center;
    font-size:calc(70% + 3 * (100vw - 300px) / 100);
    text-decoration:none;
    filter: drop-shadow(7px 7px 4px #707070);
}
.inquily--button--blue:hover{
    color:red;
}
@media screen and (min-width:400px){
    .inquiry--title{
        height:11vh;
        margin:5% 0 0% 5%;
        padding:0 0 0.5% 0;
    }
    .inquiry--title img{
        width:10vw;
        height:10vh;
        margin:0% 0 0 0;
    }
}
@media screen and (min-width:800px){
    .inquiry--title{
        height:14vh;
        margin:5% 0 0% 5%;
        padding:0 0 0.5% 0;
        font-size:calc(200% + 3 * (100vw - 300px) / 100);
    }
    .inquiry--title img{
        width:11vw;
        height:11vh;
        margin:0% 0 0 0;
    }
}

@media screen and (min-width:1200px){
    .inquiry--title img{
        width:14vw;
        height:14vh;
        margin:0% 0 0 0;
    }
    .inquiry--title{
        width:85%;
        height:18vh;
        margin:0% 0 0% 5%;
    }
}




/* フッター */

footer a{
    display:block;
    text-decoration:none;
}

footer a:link, a:visited{
    color:#FFFFFF;
}

footer a:hover{
    color:red;
}


footer{
    width:100vw;
    margin-top:5vh;
    background-color:#006837;
    padding-bottom:20px;
}
.footer--box-1{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

/* flex-grow:1; レスポンシブ*/
}

.footer--box-1 li{
    width:49%;
    height:11vw;
    border:1px solid #ffffff;
    color:#ffffff;
    vertical-align:middle;
    font-size:calc(70% + 3 * (100vw - 300px) / 100);
    padding:4vw 0 0px 0;
}

.footer--box-1 li:nth-child(n+9){
    height:12vw;
    padding:2vw 0 3vw 0; 
}

.footer--box-2{
    display:flex;
    align-items:flex-end;
    margin:2% 0 0 2%;
    padding-top:5%;
}
.facebook{
    width:4vw;
    margin-left:4vw;
}
.instagram{
    width:4vw;
    margin-left:2vw;
}
.footer--logo img{
    width:60vw;
    margin:-1% 0 0 3vw;
}

footer small{
    margin-left:13vw;
    font-size:calc(50% + 1 * (100vw - 300px) / 100);
    color:#FFFFFF;
    text-align:center;
}
.arrow{
    position:fixed;
    left:80vw;
    top:88vh;
    line-height:0.8;
    opacity:0;
    transition:1s all;
}
.arrow img{
    width:14vw;
}
.arrow span{
    font-size:0.8rem;
    margin:0 0 0 3vw;
}
.appear{
    opacity:0.7;
}
@media screen and (min-width:400px){
    .arrow{
        top:85vh;
        line-height:1;
    }
    .arrow span{
        font-size:1rem;
        margin:0 0 0 3vw;
    }
}
@media screen and (min-width:530px){
    .arrow{
        line-height:1.2;
        top:80vh;
        left:80vw;
    }
    .arrow span{
        font-size:1.4rem;
        margin:0 0 0 3vw;
    }
}
@media screen and (min-width:740px){
    .arrow{
        top:75vh;
        left:80vw;
        line-height:1.4;
    }
}
@media screen and (min-width:900px){
    .arrow{
        top:68vh;
        line-height:1.6;
    }
    .arrow span{
        font-size:1.6rem;
    }
}
@media screen and (min-width:1024px){
    .footer--box-1 li{
        white-space:1em;
        width:19.6vw;
        height:7vh;
        border:1px solid #ffffff;
        vertical-align:middle;
        font-size:calc(50% + 2 * (100vw - 300px) / 100);
        margin:0 0 0 0;
        padding:3.5vh 0vw 3.5vh 0;
    }
    .footer--box-1 li:nth-child(5){
        margin-right:0.5vw;
    }
    .footer--box-1 li:nth-child(n+9){
        height:8vh;
        padding:1vh 0 5vh 0;
    }
    .footer--box-1 li:nth-child(10){
        margin-right:0.5vw;
    }
    .footer--box-2{
        display:flex;
        align-items:flex-end;
        margin:0% 0 0 2%;
        padding-top:2% 0 2% 0;
    }
    .footer--logo img{
        margin:-2% 0 0 8vw;
    }
    footer small{
        margin-left:14%;
        font-size:calc(80% + 1 * (100vw - 300px) / 100);
    }
        .arrow{
            top:68vh;
            left:90vw;
            line-height:1.4;
        }
        .arrow img{
            width:8vw;
        }
        .arrow span{
            font-size:2rem;
            margin:0 0 0 2vw;
        }
}

